#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --light-color: #f9f9f962;
  --dark-color: #213547;
}

.Apps {
  position: absolute;
  top: 20px;
  left: 20px;

  button {
    margin: 10px;
  }
}

.alarm {

  dialog {
    top: 20px;
    left: 150px;
    width: 300px;
  }

  button {
    margin: 10px;
  }

  input {
    margin: 10px;
  }
}

#alarmSetting ::backdrop {
  backdrop-filter: blur(10px);
}

#alarmRing {
  width: 300px;
}

#countdown {
  font-size: 2rem;
  margin: 10px;
  padding: 10px 0;
  border: 2px solid var(--dark-color);
}