.button-container {
    position: absolute;
    top: 20px;
    right: 20px;

    button {
        margin: 10px;
    }
}

/* デジタル時計のスタイル */
.digi-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-family: 'Digital-7', sans-serif;
    font-size: 3rem;
    border: 5px solid rgba(46, 48, 50, 0.913);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(146, 155, 146, 0.5);
}

body.light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

body.dark {
    background-color: var(--dark-color);
    color: var(--light-color);

    dialog {
        button {
            background-color: #efefef;
            color: var(--dark-color);
        }
    }

    .digi-clock {
        border-color: var(--light-color);
        box-shadow: 0 0 20px rgba(146, 155, 146, 0.5);
    }
}